@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monda", sans-serif;
  outline: none;
  border: none;
}

body {
  background-color: black;
  background-image: url("https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?cs=srgb&dl=pexels-content-pixie-2736499.jpg&fm=jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  max-width: 100vw;
  max-height: 100vh;
  color: aliceblue;
  margin-left: 2rem;
  object-fit: cover;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  color: black;
}

.MainDiv {
  width: 55rem;
}
.edit button {
  background-color: #091f37; 
  color: #fff; 
  padding: 5px 10px; 
  border: none; 
  cursor: pointer; 
  border-radius: 10px;
  margin-top: 10px;
}
.edit button:hover {
  background-color: #2b3a4b; 
}


.editinput {
 align-items: center; 
}

.editinput input {
  
  padding: 5px 10px; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  color: black;
  font-weight: bold;
  background-color: #7e62a5;
  margin-top: 10px;
}

.editinput button {
  background-color:  #566f79; 
  color: #fff; 
  padding: 5px 10px; 
  border: none;
  border-radius: 4px;
  margin-left: 10px; 
  cursor: pointer; 
  margin-top:10px;
}

.editinput button:hover {
  background-color:#b156a5 ;
}


.noTodosLeft {
  font-size: 2rem;
  color: black;
  text-align: center;
}

.createTODO {
  margin: 3rem auto;
  padding-top: 2rem;
}

.createNewTODO,
.displayNewTODO,
.timeLimit {
  background-color: rgb(82, 80, 80);
  color: white;
  width: 420px;
  padding-left: 1rem;
  font-size: 1.8rem;
  border-radius: 10px;
}
.timeLimit {
  width: 200px;
  margin-left: 1.4rem;
  font-size: 1.5rem;
}
.displayTODO {
  margin-top: 1rem;
}

.displayNewTODO {
  width: 450px;
  min-height: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  position: relative;
}

.displayTime {
  font-size: 1.5rem;
  color: rgb(251, 211, 211);
  position: absolute;
  right: 1rem;
  top: 0%;
}

.myBtnDone,
.myBtnAdd,
.myBtnDelete {
  margin-left: 1rem;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 200px;
}

.myBtnAdd {
  background-color: #22577a;
  color: white;
}

.myBtnAdd:hover {
  cursor: pointer;
  background-color: rgb(73, 188, 216);
}

.myBtnDelete {
  background-color: #72e1ad;
  color: white;
}

.myBtnDelete:hover {
  cursor: pointer;
  background-color: rgb(245, 61, 61);
}

.myBtnDone {
  width: 200px;
  color: white;
  background-color: #793d85;
}

.myBtnDone:hover {
  cursor: pointer;
}

.filter-buttons {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  margin-top: 5rem;
}

.displayPending,
.displayCompleted,
.deleteCompleted,
.displayAll {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20;
  margin: 1rem;
  font-weight: bold;
  background-color: #867ae9;
  color: white;
  row-gap: 5px;
}

.deleteCompleted {
  background-color:#867ae9;
  color: white;
}

.displayPending:hover,
.displayCompleted:hover,
.deleteCompleted:hover,
.displayAll:hover {
  cursor: pointer;
  background-color: rgb(56, 59, 59);
}

.deleteCompleted:hover {
  background-color: rgb(253, 2, 2);
}

.author {
  font-size: 2rem;
  text-align: center;
  color: aqua;
  margin-top: 1rem;
}

a {
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
} 

.signOut{
  padding: 10px 10px;
  font-size: 10;
  font-weight: bold;
  background-color: #793d85;
  color: white;
  border-radius: 10px;
  margin-left: 1rem;
  margin-top: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.signOut:hover{
  cursor: pointer;
  background-color: rgb(42, 6, 11);
}



@media (max-width: 480px) {
  body {
    background-size: cover;
    background-color: white;
    background-image: none;
  }

  .MainDiv {
    width: 90%; 
    margin: 0 auto; 
  }

  .header {
    flex-direction: column; 
    text-align: center;
  }

  .signOut {
    margin-top: 1rem; 
  }

  
}

